.displayBox {
  width: 38rem;
  padding: 3.5rem;
  background-color: #00494d;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tipBox,
.totalBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tipAmountText,
.totalAmountText {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 0.1rem;
}

.tipAmountSubtext {
  font-size: 1.4rem;
  color: #5e7a7d;
}

.tipAmount {
  font-size: 4rem;
  color: #26c0ab;
}

.btnReset {
  width: 100%;
  padding: 1rem 0;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: #00494d;
  background-color: #0d686d;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: auto;
  transition: all 0.2s;
}

.btnReset:hover {
  background-color: rgba(38, 192, 171, 0.7);
}

.btnReset:active {
  scale: 0.96;
}

.active {
  background-color: #26c0ab;
}

@media (max-width: 768px) {
  .displayBox {
    width: 100%;
    padding: 2.5rem;
  }
}
